{% extends "base.html" %}
        {% block title %}About{% endblock %}
        <!-- Page Header-->
        {% block header %}
        <header class="masthead" style="background-image: url('/static/assets/img/sunset.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About This Website</h1>
                            <span class="subheading">It's a training ground!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}
        <!-- Main Content-->

        {% block content %}
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I am a Software Engineering student at McMaster University in Canada.
                        this site serves as a testing ground for me to learn about web servers, and in particular how Linux
                        is used to run them. It's also an opportunity to learn about cloud computing, and how it can conveniently
                        host infrastructure such as this site and easily scale it up and manage it. To do this I am learning
                        about Amazon Web Services, and I am always interested in how Linux enables cloud computing.</p>
                    </div>
                </div>
            </div>
        </main>
        {% endblock %}
