{% extends "base.html" %}
    {% block title %}Posts{% endblock %}
        <!-- Page Header-->
r       {% block header %}
        <header class="masthead" style="background-image: url('static/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Blog</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}

        <!-- Post Content-->
        {% block content %}
        <article class="mb-4">
                    {% for post in posts %}
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-x1-7">
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <br/>
                    {{ post.content }}<br/>
                    <small>{{ post.date_posted }}</small>
                    </div>
                </div>
            </div>
            <br/>
        </article>

            {% endfor %}
        {% endblock %}

